*.fdb_latexmk
*.synctex.gz
*.fdb_latexmk
*.snm
*.synctex.gz
*.aux
*.dvi
*.out
*.log
*.toc
*.DS_Store
*.vrb
*.yatexrc
*.nav
*~
wget-log
/presentation/12th/full_output2.mp4
/presentation/12th/movie/loveliveop.mp4
